<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <input id="title" type="text" class="form-control" placeholder="글 제목">
    <textarea name ="" id ="content" rows="10" class="form-control" placeholder="글 내용"></textarea>
    <div class="text-center">
        <button id="submit-btn" class="btn btn-primary">등록</button>
    </div>
</div>

<script>
    var submitBtn=document.getElementById("submit-btn")
    submitBtn.addEventListener("click", function() {
        var title=document.getElementById("title").value
        var content=document.getElementById("content").value
        console.log(title, content)

        fetch("/api/articles", {
            method:"POST",
            headers:{
                "Content-type":"application/json"
            },
            body:JSON.stringify({
            title:title,
            content:content
            })
        })
        .then(function(){
            alert("글이 작성되었습니다")
            location.replace("/articles")
        })
    })
</script>
</body>
</html>